name: test
on: [push, pull_request]
env:
  CI: true
jobs:
  test:
    name: "Test on Node.js ${{ matrix.node_version }}"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node_version: [ 20, 22, 24 ]
    steps:
      - name: checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: setup Node.js ${{ matrix.node_version }}
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node_version: ${{ matrix.node_version }}
      - name: Install
        run: yarn install
      - name: Test
        run: yarn test
